<!DOCTYPE html>
<html>

<head>
    <title>BikeMonitor</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
    <script type="text/javascript">
        function initialize() {
            // Create the map
            var map = L.map('map').setView([53.5351, -113.4938], 12);
            L.tileLayer('https://stamen-tiles.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg', {
                attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                maxZoom: 16
            }).addTo(map);

            var data = {{ data|tojson }}

            for (line of data) {
                L.polyline(line.points, { color: line.color}).addTo(map);
            }

            // show the scale bar on the lower left corner
            L.control.scale({ imperial: true, metric: true }).addTo(map);

            // show a marker on the map
            //L.marker({ lat: 53.526390, lon: -113.525480 }).bindPopup('UofA').addTo(map);

        }
    </script>
    
    <style type="text/css">
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body onload="initialize()">
    <div id="map"></div>
</body>

</html>