<!DOCTYPE html>
<html>

<head>
    <title>BikeMonitor</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
    <script type="text/javascript">
        function initialize() {
            // Create the map
            var map = L.map('map').setView([53.5351, -113.4938], 12);
            L.tileLayer('https://tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey={{ api_key }}', {
                attribution: 'Map tiles by <a href="https://www.thunderforest.com/">Thunderforest</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                maxZoom: 15
            }).addTo(map);

            // Add lines with data
            var data = {{ data|tojson }}
            for (line of data) {
                L.polyline(line.points, { color: line.color}).addTo(map);
            }

            // show the scale bar on the lower left corner
            L.control.scale({ imperial: true, metric: true }).addTo(map);

        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mapstyle.css') }}">
</head>

<body onload="initialize()">
    <div id="map"></div>
    <div id="sidebar">
        <h1>BikeMonitor</h1>
        <h2>Description</h2>
        <p>The BikeMonitor app is designed to crowdsource data on the quality of bicycle paths and roads. 
            It tracks accelerometer and location data on your phone and uploads it to a web server. 
            This website allows you to query and visualize this data. </p>
        <div id="legend">
            <h2>Legend</h2>
            <div id="color-bar"></div>
            <span class="label" style="left: 10%;">0</span>
            <span class="label" style="left: 50%;">{{ hm }}</span>
            <span class="label" style="left: 90%;">{{ max }}</span>
            <p>The color of a line approximates the root mean square of vertical acceleration in m/s<sup>2</sup> over that segment. 
                This metric weighs larger values more heavily to better differentiate the data.</p>
        </div>
        <h2>About</h2>
        <p>Mobile application and website developed by Kai Luedemann. Project supervised by Mario Nascimento. <br><br>
            Inquiries can be emailed to kluedema@ualberta.ca. <br> <br>
            Server hosting kindly provided by <a href="https://www.cybera.ca/rapid-access-cloud/">Cybera Rapid Access Cloud</a>.</p>
    </div>
</body>

</html>